/*~~~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~~~*/

h1, h2, h3, h4, h5, h6, p, a, span, li{
    font-family: Arial, sans-serif;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.25rem;
}

h6{
    font-size: 1rem;
}

p, a, span, li{
    font-size: 1rem;
}

/*~~~~~~~~~~~~~~ SMARTPHONES CSS ~~~~~~~~~~~~~~*/
body{
    background-color: #fff;
}

header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #14141488;
}

#logo figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header figure img{
    width: 150px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}
.container, .container>.navbar-header {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px 20px;
    border-color: #141414;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #141414;
}
nav .fa-bars {
    color: #141414;
    font-size: 2em;
}
.navbar-inverse .navbar-toggle:focus .fa-bars, .navbar-inverse .navbar-toggle:hover .fa-bars {
    color: #fff;
}

footer{position: relative;}
#edBoon{display: none;}

/*~~~~~~~~~~~~~~ TOUCHPADS CSS ~~~~~~~~~~~~~~*/

@media screen and (min-width: 769px) {
    body{
        background-image: url("../img/tile_bg.jpg");
        background-size: contain;
    }
 
}


/*~~~~~~~~~~~~~~ DESKTOPS CSS ~~~~~~~~~~~~~~*/
@media screen and (min-width: 1280px) {
     
    footer:hover #edBoon {
        bottom: 0px;
        right: 0px;
    }
    
    #edBoon{
        display: initial;
        position: absolute;
        width: 150px;
        bottom: -154px;
        right: -150px;
        transition: all 0.3s ease-out;
    }
}